<p>home works!</p>
<!-- <note [title]="this is a title"></note> -->
<div>
	<ul>
		<h1>Task list</h1>
		<li *ngFor="let task of tasks">
			<div>
				<h2>{{task.title}}</h2>
				<button>Edit</button>
			</div>
			<textarea name="" id="" cols="30" rows="1" disabled>{{task.content}}</textarea>
		</li>
		<button>Add task</button>
	</ul>
</div>
<form [formGroup]="TaskForm">
	<input formControlName="title" type="text" name="title" placeholder="Title..." required>
	<input formControlName="content" type="text" name="content" placeholder="Content..." required>
	<input type="submit" value="Add New Task" (click)="addTask()">
</form>
<form [formGroup]="TaskForm">
	<input formControlName="title" type="text" name="title" placeholder="Title..." required>
	<input formControlName="content" type="text" name="content" placeholder="Content..." required>
	<input type="submit" value="Edit Task" (click)="editTask()">
</form>
<form>
	<input type="submit" value="Get All Tasks" (click)="getTasks()">
</form>
<li *ngFor="let task of tasks; index as i;">Title: {{task.title}} Content: {{task.content}}</li>