
ul {
    h1 {
        margin: 0;
    }
    background-color: aqua;
    width: 2.5in;
    border-radius: 1.5rem;
    padding: 0.5rem;
    margin: 1rem;
    >button {
        width: 100%;
    }
}

li {
    padding: 0.5em;
    background-color: azure;
    border-radius: 1.5rem;
    list-style: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    h2 {
        margin: 0;
        display: inline-block;
        width: fit-content;
    }
    p {
        margin: 0;
    }
    >button {
        right: 0;
    }
}