<p>home works!</p>
<form [formGroup]="TaskForm">
	<input formControlName="title" type="text" name="title" placeholder="Title..." required>
	<input formControlName="content" type="text" name="content" placeholder="Content..." required>
	<input type="submit" value="Add New Task" (click)="addTask()">
</form>
<form [formGroup]="TaskForm">
	<input formControlName="title" type="text" name="title" placeholder="Title..." required>
	<input formControlName="content" type="text" name="content" placeholder="Content..." required>
	<input type="submit" value="Edit Task" (click)="editTask()">
</form>
<form>
	<input type="submit" value="Get All Tasks" (click)="getTasks()">
</form>
<li *ngFor="let task of tasks; index as i;">Title: {{task.title}} Content: {{task.content}}</li>